exp2_2/REQ M1/ReceptorHealthHUB
[
    {
        "id": "268da57c.ec922a",
        "type": "mqtt in",
        "z": "b4e9af51.34439",
        "name": "ReceptorHealtsChecks",
        "topic": "healthCerradura1",
        "qos": "2",
        "broker": "d0270325.c744f",
        "x": 158,
        "y": 365,
        "wires": [
            [
                "da14b82c.d4fa78"
            ]
        ]
    },
    {
        "id": "1888403.7e6ffc",
        "type": "inject",
        "z": "b4e9af51.34439",
        "name": "Verificador",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 274,
        "wires": [
            [
                "da14b82c.d4fa78"
            ]
        ]
    },
    {
        "id": "feb12161.41f0b",
        "type": "switch",
        "z": "b4e9af51.34439",
        "name": "",
        "property": "count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 753,
        "y": 469,
        "wires": [
            [
                "282d43f9.f0e51c"
            ]
        ]
    },
    {
        "id": "94905362.9046b",
        "type": "inject",
        "z": "b4e9af51.34439",
        "name": "Health Chech Cerradura",
        "topic": "healthCerradura1",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 207,
        "y": 510,
        "wires": [
            [
                "af804bef.95c138",
                "e653c371.81b02"
            ]
        ]
    },
    {
        "id": "af804bef.95c138",
        "type": "mqtt out",
        "z": "b4e9af51.34439",
        "name": "",
        "topic": "healthCerradura1",
        "qos": "",
        "retain": "",
        "broker": "26096c87.076114",
        "x": 482,
        "y": 512,
        "wires": []
    },
    {
        "id": "e653c371.81b02",
        "type": "debug",
        "z": "b4e9af51.34439",
        "name": "EnvíoAlMQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 480,
        "y": 598,
        "wires": []
    },
    {
        "id": "da14b82c.d4fa78",
        "type": "timed-counter",
        "z": "b4e9af51.34439",
        "name": "ContadorMensajes",
        "timelimit": "20000",
        "withhold": true,
        "fixedtimeout": true,
        "x": 501.5,
        "y": 316,
        "wires": [
            [
                "5fbffa85.cf2194",
                "feb12161.41f0b"
            ]
        ]
    },
    {
        "id": "5fbffa85.cf2194",
        "type": "debug",
        "z": "b4e9af51.34439",
        "name": "#Mensajes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "count",
        "x": 755,
        "y": 249,
        "wires": []
    },
    {
        "id": "282d43f9.f0e51c",
        "type": "function",
        "z": "b4e9af51.34439",
        "name": "Correo",
        "func": "msg.payload = \"CERRADURA FUERA DE LINEA\"\nmsg.topic = \"Alerta Cerradura Yale\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 846,
        "y": 527,
        "wires": [
            [
                "b2345432.e74e08",
                "4952ac2a.cb7414"
            ]
        ]
    },
    {
        "id": "b2345432.e74e08",
        "type": "debug",
        "z": "b4e9af51.34439",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1007,
        "y": 552,
        "wires": []
    },
    {
        "id": "4952ac2a.cb7414",
        "type": "e-mail",
        "z": "b4e9af51.34439",
        "server": "smtp.office365.com",
        "port": "587",
        "secure": false,
        "name": "ms.osorio@uniandes.edu.co",
        "dname": "Send Notification",
        "x": 1045,
        "y": 482,
        "wires": []
    },
    {
        "id": "d0270325.c744f",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt-Esteban",
        "broker": "172.24.42.29",
        "port": "8083",
        "tls": "589b8d3d.a31d24",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "26096c87.076114",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.29",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "589b8d3d.a31d24",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "/home/SIS/ms.osorio/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    }
]
